
* {
        box-sizing: border-box;
}

html,
body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
}

a {
        color: #ee6123;
        font-weight: bold;
        text-decoration: none;
}

header #logo {
        height: 50px
}

footer {
        text-align: center;
        padding: 30px;
        font-size: 0.9em;
}

footer #logo {

        height: 35px;
        margin: 10px;
}

header {
        padding: 30px;
}

#hello {
        background-size: cover;
        height: 500px;
        background-image: url('./Images/hello.jpg');
}

input[type=url] {
        border-radius: 3px;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
        padding: 17px 30px;
        border: none;
        width: 50%;
        font-size: 1.3em;
}

input[type=submit] {

        cursor: pointer;
        padding: 17px 30px;
        font-size: 1.3em;
        border: none;
        border-radius: 3px;
        background-color: #ee6123;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);

}

.container {

        width: 1100px;
        margin: auto;
}

h1 {

        color: white;
        text-align: center;
        font-size: 2.9em;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 10px;
}

h2 {

        color: white;
        text-align: center;
        font-weight: 500;
}

#hello form {
        text-align: center;
        margin-top: 30px;
}

#brands {

        background-color: #eff7fc;
        padding: 30px;
        text-align: center;
}

.container h3 {

        color: #ee6123;
        margin: 0;
        text-transform: uppercase;
        padding-bottom: 30px;
}

.pictures {

        height: 35px;
        margin: 15px;

}

.center {
        text-align: center;
}

#result {

        color: white;
        padding: 30px;
        border: 1px solid white;
        border-radius: 10px;
        display: inline-block;
        margin: 20px;
}